.nav {
  display: flex;
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  justify-content:space-between;
}
a {
  text-decoration: none;
}
.nav :hover {
  color: rgb(12, 12, 12);
  font-size: 25px;
}
